
html {
  font-family: "Indie Flower", sans-serif;
  background-color: #33437c;
  color: #feffe4;
}

.p1 {
  color: #bacbe0;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
}

h1, h2, p {
  margin: 0;
}

.animate {
  white-space: nowrap;
  overflow: hidden;
  font-family: "Josefin Sans", sans-serif;
  color: rgba(255, 255, 255, .70);
  animation: animated-text 10s steps(30, end) 1s 1 normal both;
  animation-iteration-count: 10;
}

@keyframes animated-text {
  from{width: 0;}
  to{width: 800px;}
}

@media only screen and (min-width: 25em) {

  h1,
  p {
    margin: 0 0 1.3rem;
  }

  @keyframes animated-text{
    from{width: 0;}
    to{width: 800px;}
  }

  .animate {
    animation-duration: 12s;
  }

}

@media only screen and (min-width: 38em) {

  h1,
  p {
    margin: 0 0 1.4rem;

  }

  @keyframes animated-text{
    from{width: 0;}
    to{width: 980px;}
  }

  .animate {
    animation-duration: 15s;
  }

}

@media only screen and (min-width: 60em) {

  h1,
  p {
    margin: 0 0 1.5rem;

  }

  @keyframes animated-text{
    from{width: 0;}
    to{width: 1500px;}

  }

  .animate {
    animation-duration: 18s;
  }

}
